<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Vilius Mikalauskas. It uses data from mapbox.com and darksky.net</p>
      <img class="port" src="/img/ronin-samurai-cornel-vlad.jpg">
    </div>

      {{>footer}}
  </body>

</html>
